.bg-video{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%; 
   z-index: -1;
   opacity: .15;
   overflow: hidden;

   &__content{
       height: 100%;
       width: 100%;
       object-fit: cover;//video will fill the entire parent while still maintaining its aspect ratio and clipping off sides that donnt fit,similar to background-size: cover; but instead of just images it works with html elements and videos and images as well
   }
}